
@font-face
{
    font-family: Titre;
    src: url('Polices/Ubuntu-R.ttf');
}
@font-face {
    font-family: Text;
    src: url('Polices/Ubuntu-L.ttf');
}


            /* Body of page */
body
{
    background: url("Images/backgrouwn.png");
    background-repeat:repeat-y;
    background-size:contain;
}

            /* Fixed header */
header .row
{
    position: fixed;
    width: 100%;
    margin-top: -5rem;
    background-color: #ffffff;
    box-shadow: 0px 1px 15px 2px #4b4b4b;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 4;
}
header #colstart
{
    display: none;
}
header #colmidle
{
    background-color: #48628a ;
    margin-top: -1rem;
    margin-bottom: -0.67rem;
    width: 100%;
}
header #colend
{

}

header h2
{
    color: white;
    font-family: Titre;
    margin: auto;
    padding-top: 0.4rem;
    font-size: 1.5rem;
    text-align: center;
    
}

/* Logo */
header img
{
    display: none;
    width: 50px;
    margin-left: -2.5em;
    margin-top: -0.4em;
    border-radius: 10px;
    border: solid white 2px;
}

            /* Menu connexion */

/* Link */
header .dropdown-menu a:hover
{
    background-color: #48628a;
    color: white;
    border-radius: 40px;
}

/* Box */
header .dropdown-menu
{
    background: white;
    border-radius: 40px;
    border: solid 2px white;
    box-shadow: 0px 1px 14px 1px #4b4b4b;
    padding-bottom: 15px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 4.5rem;
    z-index: 10;

}
/* Button */
header .dropdown-menu button, #dropdownMenuLink
{
    background-color: #48628a;
    border: #48628a solid 1px;
    border-radius: 40px;
}
/* Button Hover*/
header .dropdown-menu button:hover, #dropdownMenuLink:hover
{
    background-color: #354763;
    border: #354763 solid 1px;
}

            /* MENU NAVIGATION */

/* Button menu */
nav {
    position: fixed;
    height: 3.5rem;
    width: 100%;
    margin-top: -0.7rem;
    padding-top: 20px;
    border: solid 2px white;
    background-color: white;
    box-shadow: 0px 0px 7px 1px #4b4b4b;
    z-index: 5;
}

nav .menu-unwrap
{
    display: flex;
    margin: auto;
    margin-left: -1rem;
    width: 100%;
    justify-content: space-evenly;
}

  /* Button Home */
  nav #button-home
  {
      display: flex;
      margin: auto;
      margin-top: -0.7rem;
  }
  nav #button-home:hover
  {
      width: 43px;
      height: 43px;
  }

  /* Button Project*/
  nav #button-project
  {
      margin: auto;
      margin-top: -1rem;
  }
  nav #button-project:hover
  {
      width: 43px;
      height: 43px;
  }

    /* Button Facebook*/
    nav #button-facebook
    {
        margin: auto;
        margin-top: -1rem;
    }
    nav #button-facebook:hover
    {
        width: 45px;
        height: 45px;
    }

     /* Button twitter*/
     nav #button-twitter
     {
         margin: auto;
         margin-top: -1rem;
     }
     nav #button-twitter:hover
     {
         width: 45px;
         height: 45px;
     }

/* Menu container */
  nav .menu-wrap {
    display: none;
    font-family: Text;
    background-color: white;
    position: fixed;
    top: 110px;
    height: 22rem;
    width: 15%;
    padding-top: 60px;
    margin-left: -280px;
    border-radius: 0px 30px 30px 0px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    overflow: auto;
    transition: .25s;
    z-index: 10;
}

nav .menu-wrap img
{
    display: none;
    margin-top: 20px;
    width: 45px;
    margin: 10px;
    box-shadow: 2px 2px 6px 2px #48628a;
    border-radius: 10px;
    z-index: 9;
}

#titrereseaux
{
    display: none;
    margin-top: 20px;
    font-size: 1rem;
    z-index: 8;
}
nav .list-group-flush a:hover
{
    display: none;
    background-color: #48628a;
    color: white;
}

nav #logoReseaux img:hover
{
    display: none;
    box-shadow: 1px 1px 4px 1px #48628a;
    border-radius: 10px;
}

/* Menu Open */
nav .menu-show {
    display: none;
    margin-left: -1px;
    box-shadow: 1px 1px 6px 0px #4b4b4b;
}

nav h2
{
    font-family: Titre;

}

            /*  Section */
section
{
    background-color:rgba(255, 255, 255, 0.6);
    border: white 2px solid;
    border-radius: 30px;
    width: 100%;
    height: auto;
    margin-top: 80px;
    box-shadow: 0px 1px 14px 1px;
}

            /* Fil d'ariane */

section .breadcrumb
{
    background-color: #48628a;
    border-radius: 40px;
    margin-top: 5rem;
    margin-left: 5px;
    margin-right: 5px;
}

.breadcrumb [aria-current="page"]
{
    color: white;
}
.breadcrumb a:hover
{
    color: white;
    list-style: none;
    text-decoration: none;
}
.breadcrumb a
{
    color: black;
}


            /* FOOTER */

footer #footercontain
{
    background-color: white;
    height: auto;
}

footer .list-group-flush a:hover
{
    color: black;
    background-color: white;
    font-size: 1.2rem;
}

footer .list-group-flush
{
    margin-top: 1rem;
    font-size: 1.1rem;
    font-family: Text;
    text-decoration: none;
}

footer #coladresse
{
    margin-top: 1rem;
    font-family: Text;
    text-align: center;
    z-index: 0;
}

footer #footercolor
{
    background-color: #48628a;
    display: flex;
    margin-top: 3rem;
    height: 3rem;
    box-shadow: 0px 1px 14px 1px;

}


