
@font-face
{
    font-family: Titre;
    src: url('Polices/Ubuntu-R.ttf');
}
@font-face {
    font-family: Text;
    src: url('Polices/Ubuntu-L.ttf');
}


/* Body of page */
body
{
    background-color: rgb(124, 224, 255);
}

/* Fixed header */
header .row
{
    position: fixed;
    width: 100%;
    margin-top: -5rem;
    background-color: #ffffff;
    border-radius:  0px 0px  30px 30px;
    box-shadow: 0px 1px 15px 2px #4b4b4b;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 4;
}
header #colmidle
{
    background-color: #48628a ;
    margin-top: -1rem;
    margin-bottom: -0.67rem;
}

header h2
{
    color: white;
    font-family: Titre;
    margin: auto;
    padding-top: 1rem;
    
}

/* Logo */
header img
{
    width: 50px;
    margin-left: -2.5em;
    margin-top: -0.4em;
    border-radius: 10px;
    border: solid white 2px;
}

/* Menu connexion */

/* Link */
header .dropdown-menu a:hover
{
    background-color: #48628a;
    color: white;
    border-radius: 40px;
}
/* Box */
header .dropdown-menu
{
    background: white;
    border-radius: 40px;
    border: solid 2px white;
    box-shadow: 0px 1px 14px 1px #4b4b4b;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;

}
/* Button */
header .dropdown-menu button, #dropdownMenuLink
{
    background-color: #48628a;
    border: #48628a solid 1px;
    border-radius: 40px;
}
/* Button Hover*/
header .dropdown-menu button:hover, #dropdownMenuLink:hover
{
    background-color: #354763;
    border: #354763 solid 1px;
}

/* MENU NAVIGATION */

/* Button menu */
nav {
    position: fixed;
    height: 70px;
    width: 5%;
    padding-top: 20px;
    border: solid 2px white;
    border-radius: 0px 30px 30px 0px;
    background-color: white;
    box-shadow: 0px 0px 8px 1px #4b4b4b;
}
nav .toggle-button {
    position: fixed;
    width: 3.5%;
    height: 40px;
    padding: 4px;
    transition: .25s;
    z-index: 15;
  }
  nav .toggle-button:hover {
    cursor: pointer;
  }
  nav .toggle-button .menu-bar {
    position: absolute;
    border-radius: 2px;
    width: 80%;
    transition: .5s;
  }
  nav .toggle-button .menu-bar-top {
    border: 4px solid #555;
    border-bottom: none;
    top: 0;
  }
  nav .toggle-button .menu-bar-middle {
    height: 4px;
    background-color: #555;
    margin-top: 7px;
    margin-bottom: 7px;
    top: 4px;
  }
  nav .toggle-button .menu-bar-bottom {
    border: 4px solid #555;
    border-top: none;
    top: 22px;
  }
  nav .button-open .menu-bar-top {
    transform: rotate(45deg) translate(8px, 8px);
    transition: .5s;
  }
  nav .button-open .menu-bar-middle {
    transform: translate(230px);
    transition: .1s ease-in;
    opacity: 0;
  }
  nav .button-open .menu-bar-bottom {
    transform: rotate(-45deg) translate(8px, -7px);
    transition: .5s;
  }

  /* Menu container */
  nav .menu-wrap {
    font-family: Text;
    background-color: white;
    position: fixed;
    top: 80px;
    height: 400px;
    width: 15%;
    padding-top: 60px;
    margin-left: -280px;
    border-radius: 0px 30px 30px 0px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    overflow: auto;
    transition: .25s;
    z-index: 10;
}

nav .menu-wrap img
{
    margin-top: 20px;
    width: 50px;
    margin: 10px;
    box-shadow: 2px 2px 6px 2px #48628a;
    border-radius: 10px;
}

#titrereseaux
{
    margin-top: 20px;
    font-size: 1rem;
}
nav .list-group-flush a:hover
{
    background-color: #48628a;
    color: white;
}

nav #logoReseaux img:hover
{
    width: 45px;
    box-shadow: 1px 1px 4px 1px #48628a;
    border-radius: 10px;
}

/* Menu Open */
nav .menu-show {
    margin-left: -1px;
    box-shadow: 2px 01px 6px 1px #4b4b4b;
}

nav h2
{
    font-family: Titre;

}
